*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/app/*.iml
/app/*.apk
/mylibrary/*.iml
/live
gradlew
gradlew.bat
/*.DS_Store
/*.properties

/build/*.iml
*.bat
/.gradle
/gradle

